﻿@model Projem.Models.ModelKarsilastir
@{
    ViewBag.Title = "Index";
}


<h2>
    Secilen Telefonlar:

    @Model.Secenek1.Marka1
    ve
    @Model.Secenek2.Marka1
</h2>



<table>
    <tr>
        <th>Marka</th>
        <th>Model</th>
        <th>Surum</th>
        <th>Fiyat</th>

    </tr>


    <tr>
        <td>@Model.Secenek1.Marka1 </td>
        <td>   @Model.Secenek1.Model </td>
        <td>  @Model.Secenek1.Surum </td>
        <td>   @Model.Secenek1.Fiyat </td>


    </tr>
    <tr>
        <td>@Model.Secenek2.Marka1 </td>
        <td> @Model.Secenek2.Model </td>
        <td> @Model.Secenek2.Surum </td>
        <td> @Model.Secenek2.Fiyat </td>


    </tr>
</table>