﻿@model IEnumerable<Projem.Models.Marka>
@{
    ViewBag.Title = "Index";
}

<h2>Karsilastir</h2>

<form action="/Karsilastiriliyor" method="post">

    <fieldset>
        <b> Karşılaştır: </b>
        <select id="Secenek1" name="Secenek1" onchange="getAlldata()">

            <option>Marka seciniz..</option>


            @foreach (var item in Model)
            {
                <option value=@item.ID>@item.Marka1</option>

            }

        </select>

        <select id="Secenek2" name=Secenek2 onchange="getAlldata()">

            <option>Marka seciniz..</option>
            @foreach (var item in Model)
            {
                <option value=@item.ID>@item.Marka1</option>

            }

        </select>



        <p><input type="submit" value="GİT" /> </p>

    </fieldset>

</form>
