﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/css/style.css" rel="stylesheet" />
</head>
<body>
    <section id="container">
        <header>
            <a href="/">
                <div id="logo"></div>
            </a>
            <div id="social-media">
                <a href="//google.com" target="_blank">
                    <div class="social">
                        <img src="~/Content/img/googleplus.png" alt="google" />
                    </div>
                </a>
                <a href="//twitter.com" target="_blank">
                    <div class="social">
                        <img src="~/Content/img/twitter.png" alt="twitter" />
                    </div>
                </a>
                <a href="//facebook.com" target="_blank">
                    <div class="social">
                        <img src="~/Content/img/facebook.png" alt="facebook" />
                    </div>
                </a>
            </div>
        </header>
        <nav>
            <a href="/">
                <div class="nav-item">
                    <span>Ana Sayfa</span>
                </div>
            </a>
            <a href="/karsilastir">
                <div class="nav-item">
                    <span>Karşılaştır</span>
                </div>
            </a>
            <a href="/Ekle/Create">
                <div class="nav-item">
                    <span>Telefon Ekle</span>
                </div>
            </a>
            <a href="/UyeGirisi">
                <div class="nav-item">
                    <span>Üye Girişi</span>
                </div>
            </a>
            <a href="/iletisim">
                <div class="nav-item" style="width: 192px; border-right: 0">
                    <span>İletişim</span>
                </div>
            </a>
        </nav>
        <section id="content">
            @RenderBody()
        </section>
        <footer>
            <small>2016 © Uğur İpek | Bu projenin tüm hakları saklıdır.</small>
        </footer>
    </section>
</body>
</html>
