﻿
@{
    ViewBag.Title = "Index";
}


<h2>Üye Girişi</h2>


       
    
    @Html.Label("Mail Adresi") : @Html.TextBox("txtPosta") <br >
    @Html.Label("Şifre") : @Html.Password("pswSifre") <br >
   

</form> 
    <input type="submit" value="Giriş Yap!" />
