﻿@{
    ViewBag.Title = "Ana Sayfa";
}


<p>
    <b>
        Uğur İpek Web Tasarımı Projesi
    </b>
</p>
<img src="~/Content/img/telefon.jpg" />
<p>
    Sitemizin amacı çok basit. Herkes işlemci, ram nedir ne işe yarar gibi bilgilere sahip olmak zorunda değil. Hal böyleyken ihtiyacınıza yönelik telefon seçmekte zorlanabilirsiniz. Biz sizin yerinize piyasadaki tüm telefon marka ve modellerinin özelliklerini araştırıp, hangi telefonun hangi istekleri daha iyi karşıladığını listeledik. Sizin yapmanız gereken tek şey bir telefondan beklentinizi belirtmek ve ihtiyaçlarınız doğrultusunda en uygun telefonu bulmak!
</p>
<br />
<br />
<a href="@Url.Action("Index","Karsilastir")"> <p><input type="submit" value="Karşılaştır" /> </p> </a> 
<br />
<br />
<a href="@Url.Action("Ekle","Create")"> <p><input type="submit" value= "Telefon Ekle" /> </p> </a>
<br />
<br />
<a href="@Url.Action("Index","UyeGirisi")"> <p><input type="submit" value="Üye Girişi" /> </p> </a>


