﻿
@{
    ViewBag.Title = "Index";
}

<h2>Üye Ol</h2>

@Html.Label("Ad") : @Html.TextBox("txtPosta") <br>
@Html.Label("Soyad") : @Html.TextBox("txtPosta") <br>
@Html.Label("Mail Adresi") : @Html.TextBox("txtPosta") <br>
@Html.Label("Cinsiyet") :
<select id="cinsiyet" name="cinsiyet">
    <option value="0">Erkek</option>
    <option value="1">Kız</option>
</select>
<br />
    @Html.Label("Şifre") : @Html.Password("pswSifre")
    <br>
    @Html.Label("Şifre Tekrar") : @Html.Password("pswSifre")
    <br>

    </form>
    <input type="submit" value="Giriş Yap!" />
