﻿
@{
    ViewBag.Title = "index";
}

<p>
    <b>Adres:</b> Vırt mh. zırt sk. hop apt n:21 SAKARYA/SERDİVAN
</p>

<p>
    <b>Telefon:</b> 0212 212 12 12
</p>

<p>
    <b>Mail:</b> admin@alanismi.com
</p>

