﻿
@{
    ViewBag.Title = "Create";
}

<h2>Yeni Telefon Kaydı</h2>
<br />
<br />
<form action="/Ekle/Create" method="post">
    <label>Marka</label>
    <br />
    <input type="text" name="Marka" />
    <br />
    <br />
    <label>Model</label>
    <br />
    <input type="text" name="Model" />
    <br />
    <br />
    <label>Surum</label>
    <br />
    <input type="number" name="Surum" />
    <br />
    <br />
    <label>Fiyat</label>
    <br />
    <input type="number" name="Fiyat" />
    <br />
    <br />
   
    <input type="submit" value="Kaydet!" />



</form>