﻿/*Tüm site tasarımı style çatısı altında tasarlanır*/

@import url(normalize.css);
body {
    font-family: Verdana, Arial, sans-serif;
    font-size: 14px;
    background: gainsboro;
    overflow-y: scroll; /*Bu kod sayfa geçişlerinde kaydırma çubuğundan kaynaklanan sayfa kaymalarını engelliyor*/
}
#container {
    width: 960px; 
    position: relative;
    margin: 10px auto; /*10 pixel yukarı ve asagi bosluk verdim*/
    border: 1px solid black;
    background: white;
}
/* Logonun oldugu yer */    
header {
    width: 960px;
    height: 120px;
    position: relative;
}
/* logo */
#logo {
    width: 384px;
    height: 120px;
    position: relative;
    background: url(/Content/img/logo.png) no-repeat center center;

}
/* social media */
#social-media {
    width: 180px;
    height: 48px;
    position: absolute;
    top: 20px;
    right: 20px;
}
.social {
    width: 48px;
    height: 48px;
    position: relative;
    float: right;
    margin-left: 10px;
}
/* Site menusu */
nav {
    width: 960px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    position: relative;
}
.nav-item {
    width: 191px;
    height: 38px;
    position: relative;
    float: left;
    border: 1px solid black;
    border-left: 0;
    background: royalblue;
    color: white;
    font-size: 16px;
}
/* Sitenin icerik kismi */
#content {
    width: 920px;
    padding: 20px;
    position: relative;
    text-align: justify;

}
/* Site bilgilerinin yer aldigi en alttaki kisim */
footer {
    width: 960px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    position: relative;
    border-top: 1px solid black;
    color: white;
    background: royalblue;
}